<h2>Sign Up</h2>

<form action="<%= api_users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Username:
    <br>
    <%= text_field(:user,:username) %>
  </label>
  <br>
  <br>
  <label>Password:
    <br>
    <%= password_field(:user,:password) %>
  </label>
  <br>
  <br>
  <input type="submit" value="Sign Up">
</form>
