<label>Title:
  <br>
  <input type="text" name="feed[title]">
</label>

<br>
<br>

<label>URL:
  <br>
  <input type="text" name="feed[url]">
</label>

<br>
<br>

<button class=".submit-form">Add New Feed</button>
